{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
     {% if category %}
         {{category.description|truncatewords:155}}
     {% else %}
         Welcome to ABC store where you can buys different items....
     {% endif %}
{% endblock %}
{% block title %}
     {% if category %}
         {{category.name}} -ABC store
     {% else %}
         See our New Collections-ABC store
     {% endif %}
{% endblock %}
{% block content %}
     {% if category %}
     <div class="container">
         <div class="row my_row_class">
             <div class="mx_auto">
             <h6><a href="{% url 'shop:allProdCat' %}">Our Products Collections</a> | {{category.name}}</h6>
             </div>
         </div>
     </div>
     {% endif %}
     <div class="mx_auto">
         {% if category %}
             <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}" width="450px;">
     </div>
        <br>
     <div>
             <h1 class="text-center my_title">{{category.name}}</h1>
             <p class="text-justify">{{category.description}}</p>
     </div>
          {% else %}
     <div>
         <img class="my_image my_image_padding" src="{% static 'img/banner.jpeg' %}" alt="our products" width="1250px;" height="230px">
     </div>
     <br>
     <div>
         <h1 class="text-center my_title">Our Products Collections</h1>
         <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend sapien tortor, a dapibus mauris ultrices ut. Nulla viverra facilisis odio, ut porttitor est tempor id. Nunc eleifend tincidunt tincidunt. Ut nunc mauris, pretium sed tristique a, ullamcorper eget lorem. Duis pharetra tristique justo. Maecenas augue justo, molestie ut justo a, convallis commodo mauris. Vestibulum eu gravida lectus, eget condimentum nulla. Mauris auctor at nunc in lacinia. Etiam blandit nibh erat, sed pulvinar nisi consectetur ac. Vivamus molestie magna vel velit ultricies aliquet. Pellentesque accumsan, enim id vulputate hendrerit, justo tellus interdum leo, nec suscipit sapien risus eget nunc. Cras diam massa, varius a gravida sed, ullamcorper vel libero. Curabitur elementum porta neque, at sagittis tellus pharetra vel. Quisque eget sodales ex, at rhoncus libero.</p>
     </div>
          {% endif %}
     <div class="container">
         <div class="row mx_auto">
             {% for product in products.object_list %}
             <div class="my_bottom_margin col-9 col-sm-12 col-md-4  col-lg-4">
                 <div class="card text-center" style="min-width:15rem;">
                     <a href="{{product.get_url}}"><img src="{{product.image.url}}" alt="{{product.name}}" width="150" height="150"></a>
                     <div class="card-body">
                         <h4>{{product.name}}</h4>
                         <p>${{product.price}}</p>
                     </div>

                 </div>
             </div>
             {% endfor %}
         </div>
         <div class="mx_auto">
             {% if products.paginator.num_pages > 1 %}
             <br>
             <div class="text-center">
                 {% for pg in products.paginator.page_range %}
                   <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
                 {% endfor %}
             </div>
             {% endif %}
         </div>
         <br>
     </div>
{% endblock %}