{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="{% static 'custom.css' %}">
    <style>
       body {
        background-image:url({% static 'new1.jpg' %});
        background-size:fit;
        background-repeat:no-repeat;
 }
    </style>
</head>
<body>
<h2 style="color:blue;">Welcome, {{user.username}}</h2>
<div style="text-align:right;"><b><a href="{% url 'base' %}" style="color:blue;font-size:20px;">LOGOUT</a></b></div>
 <div class="container">
<form  method="post">
      {% csrf_token %}
  <div style="text-align:center;line-height:150%;">
    <fieldset class="sub-container" id="basic-details">
      <h2 class="sub-heading">Basic Details</h2><hr>
          {{form.as_p}}
    </fieldset><br>
      <input type="submit" class="demo1">
</div>
</form>
 </div>
{% for msg in messages %}
<h2 style="color:red;text-align:center">{{msg}}</h2>
<b><a href="{% url 'base' %}" style="color:tomato;">HOME</a></b>
{% endfor %}

</body>
</html>