{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rgister</title>
    <style>
        .demo{
        background-image:url({% static 'new.jpg' %});
        background-size:cover;
        background-repeat:no-repeat;}
        .demo1{padding:10px;}
    </style>
</head>
<body class="demo">
<h4 style="color:pink;"><a href="{% url 'base' %}" style="color:pink;">Home</a>| Register Page</h4>


<form method="post">
    {% csrf_token %}
<div style="text-align:center;line-height:300%;">
<h1 style="color:red;padding:10px;line-height:200%">REGISTRATION</h1>
    <input type="text" name="username" placeholder="Enter your username" class="demo1"><br>
    <input type="password" name="password" placeholder="Enter your password" class="demo1"><br>
    <input type="password" name="password1" placeholder="Confirm your password" class="demo1"><br>
    <input type="submit" class="demo1">
 </div>
</form>

{% for msg in messages %}
<h2 style="color:yellow;text-align:center">{{msg}}</h2>
{% endfor %}
</body>
</html>